@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../assets/fonts/SourceSansPro-Regular.ttf');
    /* Add more src lines for different font file formats if needed */
  }
  
  @font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../../assets/fonts/SourceSansPro-Bold.ttf');
    /* Add more src lines for different font file formats if needed */
  }

.ponudba-main{
    background-color: rgb(23, 23, 23);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

@keyframes fade-in2 {
    0% {
      background-color: black; /* or any other dark color */
      opacity: 1;
    }
    100% {
      background-color: transparent; /* or the desired background color */
      opacity: 1;
      z-index: 0;
  
    }
  }
  
  
  
  .ponudba-animation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 999;
    animation: fade-in2 2s forwards;
  
  }

  .ponudba-naslov{
    font-family: 'Source Sans Pro Bold';
    color:white;
    font-size: clamp(32px, 5vw, 82px);
}

.ponudba-grid{
    position: absolute;
    left: 153px;
    top: 151px;
    display: flex;
    flex-direction: column;
  }


  @keyframes move-up2 {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
    }
  
    #ponudba{
      animation: move-up2 2s forwards;
  
    }
  
    .ponudba-naslov-slider{
      overflow: hidden;
  
    }

    

.item{
    
    padding: 40px;
    margin-left: 20px;
    z-index: 999;

}




.image2{
    width: 300px;
    height: 524px;
    background-color: rgb(23, 23, 23);
    pointer-events: none;
}

.item2{
    
  padding: 40px;
  margin-left: 20px;

}

.image{
  width: 1140px;
  height: 524px;
  background-color: white;
  display: flex;
  flex-direction: row;
  z-index: 999;
  position: relative;

}

.image-div{
  width: 477px;
  height: 100%;
  background-image: url("Ponudba_Slika.jpg");
  background-size: cover;
}

.data-div{
  width: 700px;
  height: 100%;
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  
}

.data-header{
  font-size: 42px;
  font-family: 'Source Sans Pro Bold';
  color: rgb(23, 23, 23);

}

.data-paragraph{
  font-family: 'Source Sans Pro';
  color: rgb(23, 23, 23);
  margin-top: 20px;
  font-size: 16px;
}

.data-line{
  border-top: 0.5px solid rgb(169, 169, 169);
  width: 100%;
  margin-top: 80px;
}

.data-button-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.button-column1{
  display: flex;
  flex-direction: column;
  position: relative;

}

.button-column2{
  display: flex;
  flex-direction: column;
}

.data-column{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 80px;
  top: 420px;
}



.data-button{
  z-index: 9999999;
  width: 127px;
  height: 36px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 0px;
  background-color: rgb(23, 23, 23);
  font-size: 12px;
  cursor: pointer;
 
}

.data-button.selected {
  background-color: rgb(20, 131, 235);
  
}

.additional-button-container {
position: absolute; 
 top: 390px; /* Adjust the top position as needed */
left:0px;
z-index: 9999; /* Ensure a higher z-index value */
}

.data-button:hover{
  background-color: rgb(20, 131, 235);

}



.napis{
  font-size: 16px;
  font-family: 'Source Sans Pro';
  color: rgb(23, 23, 23);
}

.cena{
  font-size: 42px;
  font-weight: 600;
  font-family: 'Source Sans Pro';
  color: rgb(23, 23, 23);
}

.inner-carousel{
    display: flex;
    margin-left: 350px;
}



.carousel{
  position: relative;

  overflow: hidden;

    left:0%;
    top: 290px;
    width: 100vw;
    z-index: 0;

}

.carousel-button-left{
  background-color: white;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 250px;
  left: 1400px;
  cursor: pointer;
  z-index: 999;
}




.carousel-button-right{
  background-color: white;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 250px;
  left: 1470px;
  cursor: pointer;
  z-index: 999;

}



.line1,
.line2 {
  position: absolute;
  top: 50%;
  left: 43%;
  width: 10px;
  height: 2px;
  background-color: rgb(23, 23, 23);
  transition: transform 0.2s ease-in-out;
}

.line3,
.line4 {
  position: absolute;
  top: 50%;
  left: 43%;
  width: 10px;
  height: 2px;
  background-color: rgb(23, 23, 23);
  transition: transform 0.2s ease-in-out;
}

.line1 {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: top left;
}

.line2 {
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: bottom left;
}

.line3 {
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: bottom left;
}

.line4 {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: top left;
}

.carousel-button-right{
  transform: rotate(180deg);
}

.carousel-button-left:hover .line1 {
  transform: translateY(-50%) rotate(45deg) scale(1.2);
}

.carousel-button-left:hover .line2 {
  transform: translateY(-50%) rotate(-45deg) scale(1.2);
}

.carousel-button-left:hover{
  background-color: rgb(20, 131, 235);
}

.carousel-button-right:hover .line3 {
  transform: translateY(-50%) rotate(-45deg) scale(1.2);
}

.carousel-button-right:hover .line4 {
  transform: translateY(-50%) rotate(45deg) scale(1.2);
}

.carousel-button-right:hover{
  background-color: rgb(20, 131, 235);
}

.dot-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 890px;
  left: 960px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(20, 131, 235);
}

@media (max-width: 1300px) {

  .data-div{
    
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
  }

  .data-header{
    font-size: 36px;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
  
  }
  
  .data-paragraph{
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
    margin-top: 16px;
    font-size: 12px;
  }
  
  .data-line{
    border-top: 0.5px solid rgb(169, 169, 169);
    width: 100%;
    margin-top: 50px;
  }

  .data-button{
    z-index: 9999999;
    width: 110px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 9px;
    cursor: pointer;
   
  }

  .data-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 300px;
  }

  .napis{
    font-size: 12px;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }
  
  .cena{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }

  .inner-carousel{
    margin-left: 240px;
  }

  .image{
    width: 800px;
    height: 380px;
  }

  .carousel{
    top: 240px;
  }

  .carousel-button-left{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 200px;
    left: 960px;
    cursor: pointer;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 200px;
    left: 1040px;
    cursor: pointer;
  
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 700px;
    left: 640px;
  }
}


@media (max-width: 1025px) {
  .data-div{
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
  }

  .data-header{
    font-size: 28px;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
  
  }
  
  .data-paragraph{
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
    margin-top: 16px;
    font-size: 10px;
  }
  
  .data-line{
    border-top: 0.5px solid rgb(169, 169, 169);
    width: 100%;
    margin-top: 40px;
  }

  .data-button{
    z-index: 9999999;
    width: 96px;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 8px;
    cursor: pointer;
   
  }

  .data-button-container{
    margin-top: 10px;
  }

  .data-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 220px;
  }

  .napis{
    font-size: 10px;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }

  .ponudba-grid{
    z-index: 99;
  }
  
  .cena{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }
  
  
  .inner-carousel{
    margin-left: 190px;
  }

  .image{
    width: 600px;
    height: 280px;
  }

  .carousel{
    top: 200px;
  }

  .carousel-button-left{
    background-color: white;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 180px;
    left: 740px;
    cursor: pointer;
    z-index: 999;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 180px;
    left: 800px;
    cursor: pointer;
  z-index: 999;
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 550px;
    left: 512px;
  }

 

 

  .carousel{
   background-color: rgb(23, 23, 23);
  }
}


@media (max-width: 718px) and (max-height: 518px)  {
  .data-div{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
  }

  .data-header{
    font-size: 24px;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
  
  }
  
  .data-paragraph{
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
    margin-top: 16px;
    font-size: 10px;
  }
  
  .data-line{
    border-top: 0.5px solid rgb(169, 169, 169);
    width: 100%;
    margin-top: 20px;
  }

  .data-button{
    z-index: 9999999;
    width: 88px;
    height: 24px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 7px;
    cursor: pointer;
   
  }

  .data-button-container{
    margin-top: 8px;
  }

  .data-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 175px;
  }

  .napis{
    font-size: 8px;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }

  .ponudba-grid{
    z-index: 99;
  }
  
  .cena{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }
  
  .inner-carousel{
    margin-left: 60px;
  }

  .image{
    width: 500px;
    height: 220px;
  }

  .carousel{
    top: 188px;
  }

  .carousel-button-left{
    background-color: white;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 180px;
    left: 520px;
    cursor: pointer;
    z-index: 999;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 180px;
    left: 570px;
    cursor: pointer;
  z-index: 999;
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 475px;
    left: 344px;
  }

  

 

  .carousel{
   height: 390px;
   background-color: rgb(23, 23, 23);
  }
}



@media (max-width: 821px) and (min-height: 519px)   {
  .data-div{
    
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
  }

  .data-header{
    font-size: 32px;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
  
  }
  
  .data-paragraph{
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
    margin-top: 20px;
    font-size: 14px;
  }
  
  .data-line{
    border-top: 0.5px solid rgb(169, 169, 169);
    width: 100%;
    margin-top: 40px;
  }

  .data-button{
    z-index: 9999999;
    width: 140px;
    height: 42px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 12px;
    cursor: pointer;
   
  }

  .data-button-container{
    margin-top: 8px;
  }

  .data-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 580px;
  }

  .napis{
    font-size: 12px;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }

  .ponudba-grid{
    z-index: 99;
  }
  
  .cena{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }
  
  
  
  .inner-carousel{
    margin-left: 60px;
  }

  

  .data-div{
    width: 500px;
  }

  .image-div{
    height: 500px;
    width: 540px;
  }

  .image{
    width: 540px;
    height: 650px;
    flex-direction: column;
  }

  .carousel{
    top: 230px;
    height: 800px;
  }

  .carousel-button-left{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 180px;
    left: 530px;
    cursor: pointer;
    z-index: 999;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 180px;
    left: 600px;
    cursor: pointer;
  z-index: 999;
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 960px;
    left: 344px;
  }

  .item{
    height: 320px;
  }

 

  .carousel{
   background-color: rgb(23, 23, 23);
  }
}



@media (max-width: 600px) and (min-height: 519px)   {
  .data-div{
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
  }

  .data-header{
    font-size: 28px;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
  
  }
  
  .data-paragraph{
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
    margin-top: 12px;
    font-size: 10px;
  }
  
  .data-line{
    border-top: 0.5px solid rgb(169, 169, 169);
    width: 100%;
    margin-top: 40px;
  }

  .data-button{
    z-index: 9999999;
    width: 118px;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 10px;
    cursor: pointer;
   
  }

  .data-button-container{
    margin-top: 8px;
  }

  .data-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 520px;
  }

  .napis{
    font-size: 10px;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }

  .ponudba-grid{
    z-index: 99;
  }
  
  .cena{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }
  
  .inner-carousel{
    margin-left: 7px;
    
  }

  .data-div{
    width: 265px;
  }

  .image-div{
    height: 500px;
    width: 265px;
  }

  .image{
    width: 265px;
    height: 571px;
    flex-direction: column;
  }

  .carousel{
    top: 250px;
    height: 800px;
  }

  .carousel-button-left{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 220px;
    left: 65%;
    cursor: pointer;
    z-index: 999;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 220px;
    left: 82%;
    cursor: pointer;
  z-index: 999;
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    left: 0px;
    align-self: center;
  }

  .item{
    height: 320px;
    margin-left: 5px;
    padding: 7px;
  }

  

  .carousel{
   background-color: rgb(23, 23, 23);
  }

  .ponudba-grid{
    position: relative;
    align-self: center;
    left: 0px;
    top: 120px;
  }
}


@media (max-width: 280px) and (min-height: 519px)   {
  .inner-carousel{
    margin-left: 7px;
    
  }
  .data-button{
    z-index: 9999999;
    width: 105px;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 10px;
    cursor: pointer;
   
  }
  

  .data-div{
    width: 240px;
  }

  .image-div{
    height: 500px;
    width: 240px;
  }

  .image{
    width: 240px;
    height: 571px;
    flex-direction: column;
  }

  .carousel{
    top: 290px;
    height: 800px;
  }

  .carousel-button-left{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 220px;
    left: 60%;
    cursor: pointer;
    z-index: 999;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 220px;
    left: 80%;
    cursor: pointer;
  z-index: 999;
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: relative;
    top: 860px;
    left: 0px;
    align-self: center;
  }

  .item{
    height: 320px;
    margin-left: 5px;
    padding: 7px;
  }

  

  .carousel{
   background-color: rgb(23, 23, 23);
  }

  .ponudba-grid{
    position: relative;
    align-self: center;
    left: 0px;
    top: 120px;
  }
}


@media screen and (min-width: 1921px){
  .carousel-container{
    height: 100vh;
  }



  .data-div{
    
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 930px;
  }

  .data-header{
    font-size: 64px;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
  
  }
  
  .data-paragraph{
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
    margin-top: 16px;
    font-size: 24px;
  }
  
  .data-line{
    border-top: 0.5px solid rgb(169, 169, 169);
    width: 100%;
    margin-top: 100px;
  }

  .data-button{
    z-index: 9999999;
    width: 180px;
    height: 50px;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 0px;
    background-color: rgb(23, 23, 23);
    font-size: 13px;
    cursor: pointer;
   
  }

  .data-column{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 550px;
  }

  .napis{
    font-size: 12px;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }
  
  .cena{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);
  }

  .inner-carousel{
    margin-left: 240px;
  }

  .image{
    width: 1400px;
    height: 640px;
  }

  .carousel{
    top: 380px;
  }

  .carousel-button-left{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 340px;
    left: 1860px;
    cursor: pointer;
  }
  
  .carousel-button-right{
    background-color: white;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 340px;
    left: 1940px;
    cursor: pointer;
  
  }

  .dot-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1100px;
    left: 1275px;
  }

  .data-button-container{
    margin-top: 40px;
  }

  .inner-carousel{
    margin-left: 540px;
  }
}