.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-page {
    width: 500px;
    height: 200px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }