@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../../assets/fonts/SourceSansPro-Regular.ttf');
    /* Add more src lines for different font file formats if needed */
  }

  @font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../../../assets/fonts/SourceSansPro-Bold.ttf');
    /* Add more src lines for different font file formats if needed */
  }

.sekcija3-postavitev{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20%;
    left: 2%;
    width: 90%;
}

.postavitev-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 50px;
    
}

.sekcija3-naslov{
    font-size: clamp(24px, 4vw, 72px);;
    line-height: 90%;
    font-family: 'Source Sans Pro Bold';
    color: rgb(23, 23, 23);
    
}

.besedilo33{
    margin-top: 10px;
    font-size: clamp(9px, 2vw, 24px);
    font-family: 'Source Sans Pro';
    color: rgb(23, 23, 23);

  }

#sec3{
    align-items: flex-start;
    overflow: hidden;
}



.box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 90s linear infinite;
    cursor: pointer;
}




@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span{
    position: absolute;
    top: 0;
    left:0;
    width: 120%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);

}

.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.postavitev-animacija{
    margin-left: 400px;
    margin-top: 300px;
}

.section3-button{
    width: 300px;
    height: 75px;
    margin-top: 30px;
    border-radius: 0px;
    font-size: 16px;
    transition: transform 0.3s ease;
    font-family: 'Source Sans Pro Bold';
}

.section3-button:hover{
    transform: translateY(-8px);
    color: white;
    background-color: rgb(20, 131, 235); 
}

@keyframes move-up2 {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
    }

    .besedilo33-slider{
        overflow: hidden;
    }

    .animate-section .besedilo33{
        animation: move-up2 2s forwards;

    }

    .sekcija3-naslov-slider{
        overflow: hidden;
    }

    .animate-section .sekcija3-naslov{
        animation: move-up2 2s forwards;

    }

@media (max-width: 1300px) {
    .postavitev-animacija{
        margin-left: 220px;
        margin-top: 300px;
    }

    .box{
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 90s linear infinite;
        cursor: pointer;
    }

    .box span{
        position: absolute;
        top: 0;
        left:0;
        width: 70%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(280px);
    
    }
    
    .box span img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 1025px) {
    .sekcija3-naslov{
        font-size: 32px;
        line-height: 90%;
        font-family: 'Source Sans Pro Bold';
        color: rgb(23, 23, 23);
        
    }
    
    .besedilo33{
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Source Sans Pro';
        color: rgb(23, 23, 23);
    
      }

      .postavitev-text{
        margin-top: 50px;
      }

      .postavitev-animacija{
        margin-left: 180px;
        margin-top: 200px;
    }

    .box{
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 90s linear infinite;
        cursor: pointer;
    }

    .box span{
        position: absolute;
        top: 0;
        left:0;
        width: 70%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(230px);
    
    }
    
    .box span img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 718px) and (max-height: 518px)  {
    .sekcija3-naslov{
        font-size: 28px;
        line-height: 90%;
        font-family: 'Source Sans Pro Bold';
        color: rgb(23, 23, 23);
        
    }
    
    .besedilo33{
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Source Sans Pro';
        color: rgb(23, 23, 23);
    
      }

      .postavitev-text{
        margin-top: 0px;
      }

      .postavitev-animacija{
        margin-left: 120px;
        margin-top: 200px;
    }

    .box{
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 90s linear infinite;
        cursor: pointer;
    }

    .box span{
        position: absolute;
        top: 0;
        left:0;
        width: 50%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
    
    }
    
    .box span img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 821px) and (min-height: 519px)  {
    .sekcija3-postavitev{
        flex-direction: column;
        align-items: center;
        
    position: relative;
    top: 20%;
    left: 0%;
    width: 90%;
    }

    .sekcija3-naslov{
        font-size: 42px;
        line-height: 90%;
        font-family: 'Source Sans Pro Bold';
        color: rgb(23, 23, 23);
        
    }
    
    .besedilo33{
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Source Sans Pro';
        color: rgb(23, 23, 23);
    
      }

      .postavitev-text{
        margin-top: 0px;
        width: 90%;
        align-items: center;
        text-align: center;
      }

      .postavitev-animacija{
        margin-left: 0px;
        margin-top: 200px;
    }

    .box{
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 90s linear infinite;
        cursor: pointer;
    }

    .box span{
        position: absolute;
        top: 0;
        left:0;
        width: 80%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    
    }
    
    .box span img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 600px) and (min-height: 519px) {
    .sekcija3-postavitev{
        flex-direction: column;
        align-items: center;
        
    position: relative;
    top: 15%;
    left: 0%;
    width: 90%;
    }

    .sekcija3-naslov{
        font-size: 28px;
        line-height: 90%;
        font-family: 'Source Sans Pro Bold';
        color: rgb(23, 23, 23);
        
    }
    
    .besedilo33{
        margin-top: 10px;
        font-size: 12px;
        font-family: 'Source Sans Pro';
        color: rgb(23, 23, 23);
    
      }

      .postavitev-text{
        margin-top: 0px;
        width: 90%;
        align-items: center;
        text-align: center;
      }

      .postavitev-animacija{
        margin-left: 0px;
        margin-top: 100px;
    }

    .box{
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 90s linear infinite;
        cursor: pointer;
    }

    .box span{
        position: absolute;
        top: 0;
        left:0;
        width: 75%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
    
    }
    
    .box span img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #sec3{
        overflow: hidden;

    }
}

@media (max-width: 280px) and (min-height: 519px)   {
    .section3-button{
        width: 200px;
        height: 50px;
    }
}