@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../../assets/fonts/SourceSansPro-Regular.ttf');
  /* Add more src lines for different font file formats if needed */
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../../../assets/fonts/SourceSansPro-Bold.ttf');
  /* Add more src lines for different font file formats if needed */
}

p{
  font-family: 'Source Sans Pro';
  font-size: 12px;
}

.spreadsheet {
    border-collapse: collapse;
    width: 100%;
  }
  
  .spreadsheet td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
  }
  
  .spreadsheet input {
    border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0;
  }
  
  .spreadsheet td:first-child {
    border-left: none;
  }
  
  .spreadsheet td:last-child {
    border-right: none;
  }
  
  .spreadsheet tr:first-child td {
    border-top: none;
  }
  
  .spreadsheet tr:last-child td {
    border-bottom: none;
  }

  .button-click{
    margin-top: 20px;
  }

  button{
    border-radius: 0px;
  }