.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    height: 40px;
    padding: 20px;
    transition: background-color 0.3s ease, height 0.8s ease;
    z-index: 9998;
    
  }
  
  .navbar.scrolled {
    background-color: rgb(23, 23, 23);
    color: white;
    height: 70px;
  }